<html>
	<head>
		<title>Fake Naver</title>
		<meta charset="utf-8">
	</head>
	<body>
		<h1>Fake NAVER</h1>
		<form action="https://search.naver.com/search.naver">
  			네이버 검색: <input type="text" name="query"><br>
  			<input type="submit" value="검색하기">
		</form>
		
		<br><br>

		<h1>Fake Daum</h1>
		<form action="http://search.daum.net/search">
  			다음 검색: <input type="text" name="q"><br>
  			<input type="submit" value="검색하기">
		</form>

		<br><br>

		<h1>Fake Google</h1>
		<form action="https://www.google.co.kr/search">
  			구글 검색: <input type="text" name="q"><br>
  			<input type="submit" value="검색하기">
		</form>

		<br><br>

		<h1>OP.GG 검색</h1>
		<form action="http://www.op.gg/summoner/">
  			op.gg 검색: <input type="text" name="userName"><br>
  			<input type="submit" value="검색하기">
		</form>
	</body>
</html>